{% extends 'social_network/base.html' %}

{% block content %}
<!-- User Profile -->
<!-- Contains: link to change password, list of boards in which is user interested with option to revoke interest -->

<div class="content">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1>User account</h1>
            <p>Username: {{user.username}}</p>
            <p>Email: <a href="mailto:{{user.email}}">{{user.email}}</a></p>
            <p>Last Loggedin: {{user.last_login}}</p>
            <p>Date Joined: {{user.date_joined}}</p>
            <p>
                <a href="/password_change">Change Password</a></p>
            <br>
            <h3>List of board that you are interested in</h3>
            <br>
             {% for board in boards %}
                <div class="row">
                    <div class="col-10 d-flex position-relative">
                        <h4>{{board.name}}</h4>
                        <a class="stretched-link" href="/b/{{board.id}}"></a>
                    </div>
                    <div class="col-2">
                        <form method="POST">
                            {% csrf_token %}
                            <button type="submit" value="{{board.id}}" class="btn btn-danger" name="board" type="button"> Uninterest </button>
                        </form>
                    </div>
                </div>
                <hr>
             {% endfor %}
            <h3>List of board that you created</h3>
            <div class="alert alert-danger" role="alert">Please undrestand that deleting board is ONE WAY process this is going to UNRECOVEREABLY DELETE the board including the posts on the board !</div>
            <br>
             {% for board in created_boards %}
                <div class="row">
                    <div class="col-10 d-flex position-relative">
                        <h4>{{board.name}}</h4>
                        <a class="stretched-link" href="/b/{{board.id}}"></a>
                    </div>
                    <div class="col-2">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="board" value="d{{board.id}}">
                            <button onClick="if(confirm(' DANGER ! Do you really delete board {{board.name}} with id {{board.id}}? This is going to delete the board including all posts on the board FOREVER!')){ this.form.submit() }" class="btn btn-danger" type="button">DELETE BOARD</button>
                        </form>
                    </div>
                </div>
                <hr>
             {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
