{% extends 'social_network/base.html' %}
{% block title %} Register page{% endblock title %}
{% load crispy_forms_tags %}

{% block content%}
<form method="POST" class="form-group">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-success">Register</button>
</form>

{% endblock content %}
