{% extends 'social_network/base.html' %}

 
{% block content %}
    {% load crispy_forms_tags %}  
    <form method="post" class="form-group">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-primary"> Login </button>
        <p>Don't have an account ? Create one <a href="/register">here</a></p>
        <p>Forgot password? Reset <a href="/password_reset">here</a></p>
    </form>
{% endblock %}
