{% extends 'social_network/base.html' %}

 
{% block content %}
    <h1>Password reset done</h1>
    <p>Your password has been set. You may go ahead and log in now.</p>
    <p><a href="/login/">Log in</a></p>
{% endblock %}
