{% extends 'social_network/base.html' %}

 
{% block content %}
    {% load crispy_forms_tags %}  
    <form method="post" class="form-group">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-primary"> Reset password</button>
    </form>
{% endblock %}
