<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>{% block title %} Unmoderated Social Network {% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <div id="content" name="content" class="main">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-xl-9">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                        <div class="container-fluid">
                          <a class="navbar-brand" href="/">Unmoderated Social Network</a>
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <li class="nav-item me-2">
                              </li>
                            </ul>
                                <span class="nav-item navbar-nav me-2">
                                    {% if user.is_authenticated %}
                                        <a class="nav-link active" aria-current="page" href="/account/profile">{{ user.username }}</a>
                                        <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                                    {% else %}
                                        <a class="nav-link active" aria-current="page" href="/login">Login</a>
                                    {% endif %}
                                </span>
                                <form class="d-flex" method="get" role="search" action="/search">
                              <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
                              <button class="btn btn-success" type="submit">Search</button>
                            </form>
                          </div>
                        </div>

                    </nav>
                    <hr class="mt-0 mb-4">
                    {% block content %} <h1>Page content not loaded </h1>{% endblock content %}
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
