{% extends 'social_network/index.html' %}

{% block board %}
    <!-- board title -->
    <div class="container justify-content-center">
        <h1 style="text-align: center;">{{board.name}}</h1>
        <h2 style="text-align: center;">/b/{{board.id}}</h2>
        <p>{{ board.description }} </p>
        <!-- implemnt interested button if user is logged in -->
        <!-- if user is in intered show the button in the opposite way -->
        <div class="d-grid gap-2">
        {% if user %}
            {% if user in interested %}
                <button class="btn btn-secondary" onclick="window.location.href='/b/{{board.id}}/uninterest'">Uninterest</button>
            {% else %}
                <button class="btn btn-success" onclick="window.location.href='/b/{{board.id}}/interest'">Interest</button>
            {% endif %}
        {% endif %}
        </div>
    </div>
    <hr class="mt-0 mb-4">

    {% load crispy_forms_tags %}  
    <!-- Crete Post section -->
    {% if user.is_authenticated %}
    <form method="post" action="#">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success">Post</button>
        </div>
    </form>
    {% endif %}
    <br>
    
{% endblock board %}
