{% extends 'social_network/base.html' %}

{% block content %}

    <div class="container px-4 col-lg-8">
        {% block board %}
        {% endblock board %}
        {% for post in posts  %} 
            <div class="row gx-5" style="margin-bottom: 0.5em;">
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>{{post.content}}</h5>
                        <div class="row">
                            <div class="col text-secondary">
                                Author: {{post.poster.username}}
                            </div>

                            <div class="col-md-auto">
                            </div>

                            <div class="col col-lg-3 text-secondary">
                                Board: <a href="/b/{{post.board.id}}">{{post.board.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if request.path == '/' or request.path == '/'|add:page %}
            <div class="row">
                <div class="col">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% for p in listOfPages %}
                                <li class="page-item {% if p|slugify == page|slugify %}active{% endif %}">
                                    <a class="page-link" href="/{{p}}">{{p}}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>

            {% else %}
            <div class="row">
                <div class="col">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% for p in listOfPages%}
                                <li class="page-item {% if p == page %}active{% endif %} "><a class="page-link" href="/b/{{board.id}}/{{p}}">{{p}}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock content %}
