{% extends 'social_network/base.html' %}


{% block content %}
    <div class="container px-4 col-lg-8">
        {% if not b %}
            <h1>Search query for {{query}}: </h1>
        {% else %}
            {% if user.is_authenticated %}
                <h1>Create board: </h1>
                {% load crispy_forms_tags %}  
                <form action="#" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success">Create</button>
                    </div>
                </form>
                <br>
            {% endif %}
            <h1>All boars: </h1>
        {% endif %}
        {% if not boards|length == 0 %}
            {% for board in boards %}
            <div class="d-flex position-relative row gx-5" style="margin-bottom: 0.5em;" >
                    <div class="col">
                        <div class="p-3 border bg-light">
                            <h2>{{board.name}}</h2>
                            <h5>{{board.description}}</h5>
                            <div class="row">
                                <div class="col text-secondary">
                                    Owner: {{board.owner}}
                                </div>

                                <div class="col-md-auto">
                                </div>

                                <div class="col col-lg-3 text-secondary">
                                    ID: <a href="/b/{{board.id}}" class="stretched-link">/b/{{board.id}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <p style="text-align: center;">Returned: {{boards|length}} result{% if boards|length > 1 %}s{% endif %}</p>
        {% else %}
            <p style="text-align: center;">No results found !</p>
        {% endif %}
    </div> 
{% endblock %}
